<link rel="stylesheet" href="/css/reset_password.css">
<div id="reset-form-page">
    <div id="reset-card">
        <h1>Reset Password</h1>

        <% if(access) { %>
            <form class="reset-form" action="/users/update-password/<%= accessToken %>" method="POST">
                <input type="password" class="control" id="newPass" name="newPass" placeholder="New Password" required>
                <input type="password" class="control" id="confirmPass" name="confirmPass" placeholder="New Password" required>
                <input type="submit" class="control" value="Confirm">
            </form>
            <% } else { %>
                <p>Enter registered mail address:</p>
                <form class="reset-form" action="/users/reset-mail" method="POST">
                    <input type="email" class="control" name="email" placeholder="Email" required>
                    <input type="submit" class="control" value="Submit">
                </form>
                <% } %>
    </div>
</div>