.home-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-card{
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
    border-radius: 5rem;
    gap: 1rem;
    padding: 1rem;
}

.controls{
    text-decoration: none;
    color: black;
    font-size: xx-large;
    text-transform: uppercase;
}

.controls:hover{
    color: aqua;
}