#reset-form-page{
    display: grid;
  place-items: center;
  background-image: url("/images/form-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #3a334e;
  height: 85vh;
  animation: rotate 1s infinite alternate linear;
}

#reset-card{
    width: 45%;
  padding: 60px 30px 50px;
  border-radius: 1.25rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.5rem;
}

.reset-form{
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.control {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #edeaf7;
    color: #5a4f79;
    font-size: 16px;
    transition: 0.4s;
  }

  .reset-form input.control::placeholder {
    color: #aaa7bc;
  }


  input[type='submit']{
    cursor: pointer;
    width: 80%;
    height: 56px;
    padding: 0 16px;
    background: #703eff;
    color: #f9f9f9;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }
  
  input[type='submit']:hover{
    background-color: skyblue;
  }