#signup-page {
    display: grid;
    place-items: center;
    color: #3a334e;
    height: 90vh;
    animation: rotate 1s infinite alternate linear;
  }
  
  .control {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #edeaf7;
    color: #5a4f79;
    font-size: 16px;
    transition: 0.4s;
  }
  
  .signup-card {
    width: 45%;
    padding: 60px 30px 50px;
    border-radius: 1.25rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
  }
  
  .signup-card>h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 6px;
  }
  
  .signup-card>h3 {
    color: #837f90;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .signup-form {
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .signup-form input.control::placeholder {
    color: #aaa7bc;
  }
  
  .signup-form>button.control {
    cursor: pointer;
    width: 60%;
    height: 56px;
    padding: 0 16px;
    background: #703eff;
    color: #f9f9f9;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }
  
  .signup-form>button.control:hover{
    background-color: skyblue;
  }

  
.social-auths{
  display: flex;
  gap:1rem;
}

.social-btns{
  border-radius: .5rem;
  text-decoration: none;
  padding:.5rem;
  border: 1px solid red;
  transition: all .2s ease-in-out;
}

.google-social{
  color: red;
}
.google-social:hover{
  color: white;
  background-color: red;
}
.facebook-social{
  color: #703eff;
  border: 1px solid #703eff;
}
.facebook-social:hover{
  color: white;
  background-color: #703eff;
}

.gap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left-line, .right-line{
  width: 40%;
  height: 1px;
  background-color: black;
}